.footer {
    width: 100%;
    height: max-content;
  
    &__wrapper {
      max-width: 1200px;
      display: flex;
      justify-content: space-between;
      padding: 2rem 1rem;
      margin: 0 auto; 
    }
  
    &__rrss {
      display: flex;
      gap: 1rem;
    }
  }
  